In [53]:
import sys
!{sys.executable} --version
!{sys.executable} -m pip install yfinance
!{sys.executable} -m pip install yahoofinancials
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
import matplotlib.pyplot as plt
from IPython.display import display
import numpy as np

%matplotlib inline

Python 3.8.8
Requirement already satisfied: yfinance in c:\users\guoju\anaconda3\lib\site-packages (0.1.67)
Requirement already satisfied: numpy>=1.15 in c:\users\guoju\anaconda3\lib\site-packages (from yfinance) (1.20.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\guoju\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: requests>=2.20 in c:\users\guoju\anaconda3\lib\site-packages (from yfinance) (2.25.1)
Requirement already satisfied: lxml>=4.5.1 in c:\users\guoju\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: pandas>=0.24 in c:\users\guoju\anaconda3\lib\site-packages (from yfinance) (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\guoju\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\guoju\anaconda3\lib\site-packages (from pandas>=0.24->yfinance) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\guoju\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\guoju\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\guoju\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\guoju\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (1.26.4)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\guoju\anaconda3\lib\site-packages (from requests>=2.20->yfinance) (4.0.0)
Requirement already satisfied: yahoofinancials in c:\users\guoju\anaconda3\lib\site-packages (1.6)
Requirement already satisfied: pytz in c:\users\guoju\anaconda3\lib\site-packages (from yahoofinancials) (2021.1)
Requirement already satisfied: beautifulsoup4 in c:\users\guoju\anaconda3\lib\site-packages (from yahoofinancials) (4.9.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\guoju\anaconda3\lib\site-packages (from beautifulsoup4->yahoofinancials) (2.2.1)

In [332]:
from tiingo import TiingoClient
config = {}
config['session'] = True
#Go to https://www.tiingo.com/ to get your free API key
config['api_key'] = "8f01589a68f3164720097c6d25c05099209e31c7"
client = TiingoClient(config)

In [319]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2016-12-28', 
                            endDate='2018-12-28')
display(tickers_df.head())
display(tickers_df.tail())
rho = [0,1]

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2016-12-30 00:00:00+00:00,126.118801,27.251542,792.45,57.775704,144.268082,69.468044,9.826197
2017-01-31 00:00:00+00:00,132.599874,28.552708,820.19,60.109418,151.440711,64.565413,10.173876
2017-02-28 00:00:00+00:00,137.712557,32.371423,844.93,59.845770,168.466289,63.163528,10.313808
2017-03-31 00:00:00+00:00,133.362611,33.947578,847.80,61.604289,165.316251,63.699471,9.581223
2017-04-28 00:00:00+00:00,122.755788,33.945214,924.52,64.036284,172.766045,63.419849,9.568418

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-08-31 00:00:00+00:00,119.358689,55.048592,1231.80,108.140042,331.579908,66.036331,8.546679
2018-09-28 00:00:00+00:00,123.212912,54.591526,1207.08,110.103949,359.737938,70.031294,8.339323
2018-10-31 00:00:00+00:00,94.057711,52.927711,1090.58,102.825941,343.255189,65.632716,8.763351
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857

In [320]:
returns_0= tickers_df.pct_change()
returns_0

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2016-12-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-31 00:00:00+00:00,0.051389,0.047747,0.035005,0.040393,0.049717,-0.070574,0.035383
2017-02-28 00:00:00+00:00,0.038557,0.133743,0.030164,-0.004386,0.112424,-0.021713,0.013754
2017-03-31 00:00:00+00:00,-0.031587,0.048690,0.003397,0.029384,-0.018698,0.008485,-0.071030
2017-04-28 00:00:00+00:00,-0.079534,-0.000070,0.090493,0.039478,0.045064,-0.004390,-0.001336
2017-05-31 00:00:00+00:00,-0.038455,0.067770,0.067678,0.025890,0.023018,-0.004816,-0.030514
2017-06-30 00:00:00+00:00,0.007862,-0.057214,-0.058161,-0.013030,0.053936,0.002857,0.006295
2017-07-31 00:00:00+00:00,-0.059546,0.032704,0.017017,0.054693,0.226094,-0.008547,0.015536
2017-08-31 00:00:00+00:00,-0.000901,0.107142,0.010301,0.033951,-0.005558,-0.037053,-0.016934
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035

In [321]:
correl_0= returns_0.corr()
display(correl_0)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.100630  0.494866  0.606024  0.282181  0.380479 -0.046140
AAPL   0.100630  1.000000  0.305943  0.424951  0.176593  0.031958  0.089745
GOOGL  0.494866  0.305943  1.000000  0.792087  0.489766  0.464904 -0.085072
MSFT   0.606024  0.424951  0.792087  1.000000  0.487461  0.496898  0.034043
BA     0.282181  0.176593  0.489766  0.487461  1.000000  0.339778  0.100361
XOM    0.380479  0.031958  0.464904  0.496898  0.339778  1.000000  0.382969
F     -0.046140  0.089745 -0.085072  0.034043  0.100361  0.382969  1.000000

In [322]:
sigma_0=np.matrix(correl_0)

In [323]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_1 #P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([-0.06393821,-0.07931341,-0.092666524,-0.094105424,-0.079315363,-0.064851178,-0.102197297
]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 2.78e-03]
[ 2.27e-02]
[-1.78e-02]
[ 2.56e-03]
[ 9.06e-03]
[ 2.28e-03]
[-2.16e-02]

In [358]:
x=[[ 2.78e-03],
[ 2.27e-02],
[-1.78e-02],
[ 2.56e-03],
[ 9.06e-03],
[ 2.28e-03],
[-2.16e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_0*W_A)
lamda

matrix([[73.56104735]])

In [191]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-01-28', 
                            endDate='2019-01-28')
display(tickers_df.head())
display(tickers_df.tail())
rho = [0,1]

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-01-31 00:00:00+00:00,132.599874,28.552708,820.19,60.109418,151.440711,64.565413,10.173876
2017-02-28 00:00:00+00:00,137.712557,32.371423,844.93,59.845770,168.466289,63.163528,10.313808
2017-03-31 00:00:00+00:00,133.362611,33.947578,847.80,61.604289,165.316251,63.699471,9.581223
2017-04-28 00:00:00+00:00,122.755788,33.945214,924.52,64.036284,172.766045,63.419849,9.568418
2017-05-31 00:00:00+00:00,118.035238,36.245675,987.09,65.694170,176.742848,63.114396,9.276444

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-09-28 00:00:00+00:00,123.212912,54.591526,1207.08,110.103949,359.737938,70.031294,8.339323
2018-10-31 00:00:00+00:00,94.057711,52.927711,1090.58,102.825941,343.255189,65.632716,8.763351
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196

In [183]:
returns_1 = tickers_df.pct_change()
returns_1

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-01-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-02-28 00:00:00+00:00,0.038557,0.133743,0.030164,-0.004386,0.112424,-0.021713,0.013754
2017-03-31 00:00:00+00:00,-0.031587,0.048690,0.003397,0.029384,-0.018698,0.008485,-0.071030
2017-04-28 00:00:00+00:00,-0.079534,-0.000070,0.090493,0.039478,0.045064,-0.004390,-0.001336
2017-05-31 00:00:00+00:00,-0.038455,0.067770,0.067678,0.025890,0.023018,-0.004816,-0.030514
2017-06-30 00:00:00+00:00,0.007862,-0.057214,-0.058161,-0.013030,0.053936,0.002857,0.006295
2017-07-31 00:00:00+00:00,-0.059546,0.032704,0.017017,0.054693,0.226094,-0.008547,0.015536
2017-08-31 00:00:00+00:00,-0.000901,0.107142,0.010301,0.033951,-0.005558,-0.037053,-0.016934
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137

In [184]:
correl_1 = returns_1.corr()
display(correl_1)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.123274  0.528702  0.528466  0.426206  0.529132  0.226596
AAPL   0.123274  1.000000  0.313743  0.421845  0.196338  0.079398  0.116253
GOOGL  0.528702  0.313743  1.000000  0.773966  0.529200  0.540098  0.046675
MSFT   0.528466  0.421845  0.773966  1.000000  0.455544  0.518455  0.030700
BA     0.426206  0.196338  0.529200  0.455544  1.000000  0.438361  0.291183
XOM    0.529132  0.079398  0.540098  0.518455  0.438361  1.000000  0.525928
F      0.226596  0.116253  0.046675  0.030700  0.291183  0.525928  1.000000

In [185]:
sigma_1=np.matrix(correl_1) #dynamic covariance matrix

In [186]:
alpha=[0.074258638,0.123136538,0.095911037,0.109295215,0.092117853,0.060532546,0.078962015]

In [187]:
beta=[0.714266, 1.039589, 0.977212,1.051269,0.886047,0.651267,0.944982]

In [188]:
!{sys.executable} --version
!{sys.executable} -m pip install quadprog
!pip install qpsolvers
from qpsolvers import solve_qp, print_matrix_vector
from time import perf_counter
import numpy as np
!{sys.executable} -m pip install cvxopt

Python 3.8.8
Requirement already satisfied: quadprog in c:\users\guoju\anaconda3\lib\site-packages (0.1.11)
Requirement already satisfied: numpy in c:\users\guoju\anaconda3\lib\site-packages (from quadprog) (1.20.1)
Requirement already satisfied: qpsolvers in c:\users\guoju\anaconda3\lib\site-packages (1.7.2)
Requirement already satisfied: quadprog>=0.1.8 in c:\users\guoju\anaconda3\lib\site-packages (from qpsolvers) (0.1.11)
Requirement already satisfied: scipy>=1.2.0 in c:\users\guoju\anaconda3\lib\site-packages (from qpsolvers) (1.6.2)
Requirement already satisfied: numpy in c:\users\guoju\anaconda3\lib\site-packages (from quadprog>=0.1.8->qpsolvers) (1.20.1)
Requirement already satisfied: cvxopt in c:\users\guoju\anaconda3\lib\site-packages (1.2.7)

In [189]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_1 #P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.074258638,0.123136538,0.095911037,0.109295215,0.092117853,0.060532546,0.078962015]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 3.05e-03]
[ 2.49e-02]
[-1.95e-02]
[ 2.80e-03]
[ 9.92e-03]
[ 2.50e-03]
[-2.37e-02]

In [316]:
x=[ [ 3.05e-03],[ 2.49e-02],[-1.95e-02],[ 2.80e-03],[ 9.92e-03],[ 2.50e-03],[-2.37e-02]]
W_A=np.array(x)
W_A.T*sigma_1*W_A

matrix([[0.00092575]])

In [356]:
x=[ [ 5.30e-03],
[ 2.14e-02],
[-1.10e-02],
[-4.32e-03],
[ 8.76e-03],
[-1.81e-03],
[-1.83e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_2*W_A)
lamda

matrix([[96.83673265]])

In [355]:
x=[ [ 6.62e-03],
[ 5.01e-02],
[-5.15e-03],
[-2.69e-02],
[ 2.02e-02],
[-1.33e-02],
[-3.46e-02],
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_3*W_A)
lamda

matrix([[42.49661263]])

In [354]:
x=[ [ 9.18e-03],
[ 2.39e-02],
[-2.18e-02],
[ 4.96e-03],
[ 6.67e-03],
[-1.44e-03],
[-2.15e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_4*W_A)
lamda

matrix([[72.37942739]])

In [353]:
x=[[ 1.12e-02],
[ 2.71e-02],
[-2.55e-02],
[ 5.84e-03],
[ 7.53e-03],
[-2.25e-03],
[-2.39e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_5*W_A)
lamda

matrix([[60.82819913]])

In [352]:
x=[ [ 9.60e-03],
[ 2.43e-02],
[-1.66e-02],
[ 2.39e-04],
[ 7.10e-03],
[-2.88e-03],
[-2.18e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_6*W_A)
lamda

matrix([[76.56643546]])

In [351]:
x=[[ 1.06e-02],
[ 2.79e-02],
[-1.99e-02],
[ 2.07e-05],
[ 8.50e-03],
[-3.32e-03],
[-2.38e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_7*W_A)
lamda

matrix([[61.72210918]])

In [350]:
x=[ [ 1.21e-02],
[ 2.90e-02],
[-2.03e-02],
[-3.73e-04],
[ 7.88e-03],
[-4.25e-03],
[-2.41e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_8*W_A)
lamda

matrix([[59.86018893]])

In [359]:
x=[ [ 1.10e-02],
[ 2.63e-02],
[-1.85e-02],
[-3.26e-04],
[ 7.17e-03],
[-3.88e-03],
[-2.19e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_9*W_A)
lamda

matrix([[72.59674365]])

In [360]:
x=[ [ 1.44e-02],
[ 3.13e-02],
[-2.52e-02],
[ 6.66e-03],
[ 7.54e-03],
[-9.39e-03],
[-2.72e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_10*W_A)
lamda

matrix([[49.7358952]])

In [361]:
x=[[ 1.41e-02],
[ 2.71e-02],
[-2.30e-02],
[ 5.73e-03],
[ 7.36e-03],
[-8.43e-03],
[-2.42e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_11*W_A)
lamda

matrix([[64.69649926]])

In [362]:
x=[ [ 1.52e-02],
[ 2.93e-02],
[-2.48e-02],
[ 6.41e-03],
[ 7.03e-03],
[-8.74e-03],
[-2.58e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_12*W_A)
lamda

matrix([[57.53516625]])

In [363]:
x=[ [ 1.36e-02],
[ 2.93e-02],
[-2.30e-02],
[ 3.62e-03],
[ 6.27e-03],
[-5.77e-03],
[-2.46e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_13*W_A)
lamda

matrix([[60.3974292]])

In [364]:
x=[[ 1.78e-02],
[ 3.68e-02],
[-2.91e-02],
[ 8.23e-04],
[ 1.04e-02],
[-1.31e-02],
[-2.55e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_14*W_A)
lamda

matrix([[55.59404032]])

In [365]:
x=[ [ 1.36e-02],
[ 4.00e-02],
[-2.87e-02],
[-8.53e-04],
[ 3.22e-02],
[-1.22e-02],
[-4.54e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_15*W_A)
lamda

matrix([[36.30801893]])

In [366]:
x=[ [ 3.08e-02],
[ 8.25e-02],
[-5.61e-02],
[ 5.92e-04],
[ 5.03e-02],
[-1.41e-02],
[-9.41e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_16*W_A)
lamda

matrix([[9.22890086]])

In [367]:
x=[[ 1.22e-02],
[ 3.83e-02],
[-2.20e-02],
[-2.24e-03],
[ 2.36e-02],
[-7.82e-03],
[-4.28e-02]

]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_17*W_A)
lamda

matrix([[43.61317948]])

In [368]:
x=[[ 1.75e-02],
[ 4.26e-02],
[-1.97e-02],
[-8.14e-03],
[ 1.93e-02],
[-9.01e-03],
[-4.26e-02]]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_18*W_A)
lamda

matrix([[38.26350462]])

In [369]:
x=[[ 1.65e-02],
[ 4.35e-02],
[-1.83e-02],
[-8.23e-03],
[ 1.98e-02],
[-7.94e-03],
[-4.54e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_19*W_A)
lamda

matrix([[37.0598271]])

In [370]:
x=[ [ 2.18e-02],
[ 5.40e-02],
[-2.96e-02],
[-7.70e-03],
[ 1.72e-02],
[-9.21e-03],
[-4.65e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_20*W_A)
lamda

matrix([[33.81572679]])

In [372]:
x=[[ 2.27e-02],
[ 5.78e-02],
[-3.32e-02],
[-8.40e-03],
[ 1.77e-02],
[-9.46e-03],
[-4.72e-02]

]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_21*W_A)
lamda

matrix([[32.25290082]])

In [373]:
x=[ [ 1.50e-02],
[ 4.28e-02],
[-7.42e-03],
[-1.75e-02],
[ 1.23e-02],
[-7.86e-03],
[-3.75e-02]

]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_22*W_A)
lamda

matrix([[42.78656275]])

In [374]:
x=[[ 5.61e-03],
[ 5.91e-02],
[-8.50e-03],
[-3.16e-02],
[ 1.78e-02],
[-7.35e-03],
[-3.69e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_23*W_A)
lamda

matrix([[40.38407279]])

In [375]:
x=[ [ 5.99e-03],
[ 4.53e-02],
[-4.66e-03],
[-2.43e-02],
[ 1.83e-02],
[-1.21e-02],
[-3.13e-02]
]
W_A=np.array(x)
lamda=0.06/(W_A.T*sigma_24*W_A)
lamda

matrix([[51.91638827]])

In [192]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-02-28', 
                            endDate='2019-02-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-02-28 00:00:00+00:00,137.712557,32.371423,844.93,59.845770,168.466289,63.163528,10.313808
2017-03-31 00:00:00+00:00,133.362611,33.947578,847.80,61.604289,165.316251,63.699471,9.581223
2017-04-28 00:00:00+00:00,122.755788,33.945214,924.52,64.036284,172.766045,63.419849,9.568418
2017-05-31 00:00:00+00:00,118.035238,36.245675,987.09,65.694170,176.742848,63.114396,9.276444
2017-06-30 00:00:00+00:00,118.963248,34.171917,929.68,64.838190,186.275639,63.294723,9.334839

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-10-31 00:00:00+00:00,94.057711,52.927711,1090.58,102.825941,343.255189,65.632716,8.763351
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193

In [193]:
returns_2= tickers_df.pct_change()
returns_2

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-02-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-31 00:00:00+00:00,-0.031587,0.048690,0.003397,0.029384,-0.018698,0.008485,-0.071030
2017-04-28 00:00:00+00:00,-0.079534,-0.000070,0.090493,0.039478,0.045064,-0.004390,-0.001336
2017-05-31 00:00:00+00:00,-0.038455,0.067770,0.067678,0.025890,0.023018,-0.004816,-0.030514
2017-06-30 00:00:00+00:00,0.007862,-0.057214,-0.058161,-0.013030,0.053936,0.002857,0.006295
2017-07-31 00:00:00+00:00,-0.059546,0.032704,0.017017,0.054693,0.226094,-0.008547,0.015536
2017-08-31 00:00:00+00:00,-0.000901,0.107142,0.010301,0.033951,-0.005558,-0.037053,-0.016934
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409

In [194]:
correl_2 = returns_2.corr()
display(correl_2)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.101895  0.515857  0.560877  0.428904  0.550953  0.220854
AAPL   0.101895  1.000000  0.305658  0.486472  0.167333  0.128853  0.103104
GOOGL  0.515857  0.305658  1.000000  0.755725  0.496472  0.500051  0.042541
MSFT   0.560877  0.486472  0.755725  1.000000  0.520318  0.547529  0.040643
BA     0.428904  0.167333  0.496472  0.520318  1.000000  0.508495  0.278153
XOM    0.550953  0.128853  0.500051  0.547529  0.508495  1.000000  0.507985
F      0.220854  0.103104  0.042541  0.040643  0.278153  0.507985  1.000000

In [195]:
sigma_2=np.matrix(correl_2)

In [196]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_2 #P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.024417887,0.047976716,0.028710798,0.035938691,0.030290393,0.016335866,0.016375681]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 5.30e-03]
[ 2.14e-02]
[-1.10e-02]
[-4.32e-03]
[ 8.76e-03]
[-1.81e-03]
[-1.83e-02]

In [197]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-03-28', 
                            endDate='2019-03-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-03-31 00:00:00+00:00,133.362611,33.947578,847.80,61.604289,165.316251,63.699471,9.581223
2017-04-28 00:00:00+00:00,122.755788,33.945214,924.52,64.036284,172.766045,63.419849,9.568418
2017-05-31 00:00:00+00:00,118.035238,36.245675,987.09,65.694170,176.742848,63.114396,9.276444
2017-06-30 00:00:00+00:00,118.963248,34.171917,929.68,64.838190,186.275639,63.294723,9.334839
2017-07-31 00:00:00+00:00,111.879433,35.289468,945.50,68.384396,228.391360,62.753743,9.479863

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193
2019-03-29 00:00:00+00:00,117.810392,46.294610,1176.89,114.527918,372.528108,67.975300,8.195528

In [198]:
returns_3= tickers_df.pct_change()
returns_3

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-03-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-04-28 00:00:00+00:00,-0.079534,-0.000070,0.090493,0.039478,0.045064,-0.004390,-0.001336
2017-05-31 00:00:00+00:00,-0.038455,0.067770,0.067678,0.025890,0.023018,-0.004816,-0.030514
2017-06-30 00:00:00+00:00,0.007862,-0.057214,-0.058161,-0.013030,0.053936,0.002857,0.006295
2017-07-31 00:00:00+00:00,-0.059546,0.032704,0.017017,0.054693,0.226094,-0.008547,0.015536
2017-08-31 00:00:00+00:00,-0.000901,0.107142,0.010301,0.033951,-0.005558,-0.037053,-0.016934
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140

In [199]:
correl_3 = returns.corr()
display(correl_3)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.537952  0.628597  0.512274  0.580446  0.757747  0.551993
AAPL   0.537952  1.000000  0.623282  0.791953  0.373644  0.609018  0.467172
GOOGL  0.628597  0.623282  1.000000  0.519637  0.331366  0.626778  0.608334
MSFT   0.512274  0.791953  0.519637  1.000000  0.452738  0.637596  0.447993
BA     0.580446  0.373644  0.331366  0.452738  1.000000  0.646926  0.618271
XOM    0.757747  0.609018  0.626778  0.637596  0.646926  1.000000  0.643895
F      0.551993  0.467172  0.608334  0.447993  0.618271  0.643895  1.000000

In [200]:
sigma_3=np.matrix(correl_3)

In [201]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_3 #P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.019020181,0.041429651,0.020831721,0.027994248,0.023594541,0.010790208,0.007557658]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 6.62e-03]
[ 5.01e-02]
[-5.15e-03]
[-2.69e-02]
[ 2.02e-02]
[-1.33e-02]
[-3.46e-02]

In [209]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-04-28', 
                            endDate='2019-04-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-04-28 00:00:00+00:00,122.755788,33.945214,924.52,64.036284,172.766045,63.419849,9.568418
2017-05-31 00:00:00+00:00,118.035238,36.245675,987.09,65.694170,176.742848,63.114396,9.276444
2017-06-30 00:00:00+00:00,118.963248,34.171917,929.68,64.838190,186.275639,63.294723,9.334839
2017-07-31 00:00:00+00:00,111.879433,35.289468,945.50,68.384396,228.391360,62.753743,9.479863
2017-08-31 00:00:00+00:00,111.778675,39.070447,955.24,70.706131,227.121975,60.428513,9.319331

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193
2019-03-29 00:00:00+00:00,117.810392,46.294610,1176.89,114.527918,372.528108,67.975300,8.195528
2019-04-30 00:00:00+00:00,117.117389,48.907288,1198.96,126.821655,368.885064,67.537836,9.908374

In [210]:
returns_4= tickers_df.pct_change()
returns_4

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-04-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-05-31 00:00:00+00:00,-0.038455,0.067770,0.067678,0.025890,0.023018,-0.004816,-0.030514
2017-06-30 00:00:00+00:00,0.007862,-0.057214,-0.058161,-0.013030,0.053936,0.002857,0.006295
2017-07-31 00:00:00+00:00,-0.059546,0.032704,0.017017,0.054693,0.226094,-0.008547,0.015536
2017-08-31 00:00:00+00:00,-0.000901,0.107142,0.010301,0.033951,-0.005558,-0.037053,-0.016934
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998

In [211]:
correl_4 = returns_4.corr()
display(correl_4)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.111857  0.616281  0.554243  0.372592  0.562642  0.172616
AAPL   0.111857  1.000000  0.351778  0.502679  0.071216  0.133141  0.157478
GOOGL  0.616281  0.351778  1.000000  0.743030  0.415500  0.534087  0.043984
MSFT   0.554243  0.502679  0.743030  1.000000  0.375378  0.509896  0.212777
BA     0.372592  0.071216  0.415500  0.375378  1.000000  0.447528  0.130935
XOM    0.562642  0.133141  0.534087  0.509896  0.447528  1.000000  0.415751
F      0.172616  0.157478  0.043984  0.212777  0.130935  0.415751  1.000000

In [212]:
sigma_4=np.matrix(correl_4)

In [213]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_4 #P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.033307638,0.06222458,0.040378884,0.049022791,0.041318132,0.023817499,0.026460136]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 9.18e-03]
[ 2.39e-02]
[-2.18e-02]
[ 4.96e-03]
[ 6.67e-03]
[-1.44e-03]
[-2.15e-02]

In [214]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-05-28', 
                            endDate='2019-05-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-05-31 00:00:00+00:00,118.035238,36.245675,987.09,65.694170,176.742848,63.114396,9.276444
2017-06-30 00:00:00+00:00,118.963248,34.171917,929.68,64.838190,186.275639,63.294723,9.334839
2017-07-31 00:00:00+00:00,111.879433,35.289468,945.50,68.384396,228.391360,62.753743,9.479863
2017-08-31 00:00:00+00:00,111.778675,39.070447,955.24,70.706131,227.121975,60.428513,9.319331
2017-09-29 00:00:00+00:00,113.380760,36.716691,973.72,70.441350,240.910779,64.901474,10.113544

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193
2019-03-29 00:00:00+00:00,117.810392,46.294610,1176.89,114.527918,372.528108,67.975300,8.195528
2019-04-30 00:00:00+00:00,117.117389,48.907288,1198.96,126.821655,368.885064,67.537836,9.908374
2019-05-31 00:00:00+00:00,107.298508,42.834678,1106.50,120.540253,335.582316,60.213837,9.026576

In [215]:
returns_5= tickers_df.pct_change()
returns_5

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-05-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-06-30 00:00:00+00:00,0.007862,-0.057214,-0.058161,-0.013030,0.053936,0.002857,0.006295
2017-07-31 00:00:00+00:00,-0.059546,0.032704,0.017017,0.054693,0.226094,-0.008547,0.015536
2017-08-31 00:00:00+00:00,-0.000901,0.107142,0.010301,0.033951,-0.005558,-0.037053,-0.016934
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995

In [216]:
correl_5 = returns_5.corr()
display(correl_5)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.193480  0.682250  0.585549  0.410971  0.594188  0.209638
AAPL   0.193480  1.000000  0.404138  0.558296  0.158511  0.246618  0.235138
GOOGL  0.682250  0.404138  1.000000  0.787566  0.480754  0.607050  0.135475
MSFT   0.585549  0.558296  0.787566  1.000000  0.426945  0.565181  0.268560
BA     0.410971  0.158511  0.480754  0.426945  1.000000  0.501535  0.184911
XOM    0.594188  0.246618  0.607050  0.565181  0.501535  1.000000  0.462668
F      0.209638  0.235138  0.135475  0.268560  0.184911  0.462668  1.000000

In [217]:
sigma_5=np.matrix(correl_5)

In [218]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_5#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([-0.057953377,-0.069948098,-0.084725631,-0.085296842,-0.071891176,-0.059706232,-0.09511771]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.12e-02]
[ 2.71e-02]
[-2.55e-02]
[ 5.84e-03]
[ 7.53e-03]
[-2.25e-03]
[-2.39e-02]

In [219]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-06-28', 
                            endDate='2019-06-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-06-30 00:00:00+00:00,118.963248,34.171917,929.68,64.838190,186.275639,63.294723,9.334839
2017-07-31 00:00:00+00:00,111.879433,35.289468,945.50,68.384396,228.391360,62.753743,9.479863
2017-08-31 00:00:00+00:00,111.778675,39.070447,955.24,70.706131,227.121975,60.428513,9.319331
2017-09-29 00:00:00+00:00,113.380760,36.716691,973.72,70.441350,240.910779,64.901474,10.113544
2017-10-31 00:00:00+00:00,120.398676,40.271149,1033.04,78.659035,244.483548,65.986068,10.495533

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193
2019-03-29 00:00:00+00:00,117.810392,46.294610,1176.89,114.527918,372.528108,67.975300,8.195528
2019-04-30 00:00:00+00:00,117.117389,48.907288,1198.96,126.821655,368.885064,67.537836,9.908374
2019-05-31 00:00:00+00:00,107.298508,42.834678,1106.50,120.540253,335.582316,60.213837,9.026576
2019-06-28 00:00:00+00:00,116.516767,48.425427,1082.80,130.559285,357.587070,65.199751,9.699777

In [220]:
returns_6= tickers_df.pct_change()
returns_6

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-06-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-07-31 00:00:00+00:00,-0.059546,0.032704,0.017017,0.054693,0.226094,-0.008547,0.015536
2017-08-31 00:00:00+00:00,-0.000901,0.107142,0.010301,0.033951,-0.005558,-0.037053,-0.016934
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580

In [221]:
correl_6 = returns_6.corr()
display(correl_6)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.248879  0.661111  0.616151  0.415740  0.618490  0.241244
AAPL   0.248879  1.000000  0.333794  0.570290  0.183214  0.305883  0.275541
GOOGL  0.661111  0.333794  1.000000  0.736739  0.495869  0.570790  0.119087
MSFT   0.616151  0.570290  0.736739  1.000000  0.446274  0.596804  0.300508
BA     0.415740  0.183214  0.495869  0.446274  1.000000  0.502167  0.194667
XOM    0.618490  0.305883  0.570790  0.596804  0.502167  1.000000  0.486439
F      0.241244  0.275541  0.119087  0.300508  0.194667  0.486439  1.000000

In [222]:
sigma_6=np.matrix(correl_6)

In [223]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_6#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.051950887,0.088704619,0.066132545,0.076462319,0.064445065,0.04112843,0.051963796]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 9.60e-03]
[ 2.43e-02]
[-1.66e-02]
[ 2.39e-04]
[ 7.10e-03]
[-2.88e-03]
[-2.18e-02]

In [224]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-07-28', 
                            endDate='2019-07-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-07-31 00:00:00+00:00,111.879433,35.289468,945.50,68.384396,228.391360,62.753743,9.479863
2017-08-31 00:00:00+00:00,111.778675,39.070447,955.24,70.706131,227.121975,60.428513,9.319331
2017-09-29 00:00:00+00:00,113.380760,36.716691,973.72,70.441350,240.910779,64.901474,10.113544
2017-10-31 00:00:00+00:00,120.398676,40.271149,1033.04,78.659035,244.483548,65.986068,10.495533
2017-11-30 00:00:00+00:00,121.529222,41.088252,1036.17,79.998095,263.736904,66.550729,10.709379

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-03-29 00:00:00+00:00,117.810392,46.294610,1176.89,114.527918,372.528108,67.975300,8.195528
2019-04-30 00:00:00+00:00,117.117389,48.907288,1198.96,126.821655,368.885064,67.537836,9.908374
2019-05-31 00:00:00+00:00,107.298508,42.834678,1106.50,120.540253,335.582316,60.213837,9.026576
2019-06-28 00:00:00+00:00,116.516767,48.425427,1082.80,130.559285,357.587070,65.199751,9.699777
2019-07-31 00:00:00+00:00,125.253413,52.124863,1218.20,132.810643,335.159903,63.268347,9.171328

In [225]:
returns_7= tickers_df.pct_change()
returns_7

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-07-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-08-31 00:00:00+00:00,-0.000901,0.107142,0.010301,0.033951,-0.005558,-0.037053,-0.016934
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480

In [226]:
correl_7 = returns_7.corr()
display(correl_7)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.276004  0.682975  0.623598  0.494198  0.587557  0.216731
AAPL   0.276004  1.000000  0.355596  0.557825  0.155088  0.288844  0.250647
GOOGL  0.682975  0.355596  1.000000  0.655231  0.398793  0.478791  0.049915
MSFT   0.623598  0.557825  0.655231  1.000000  0.452282  0.604687  0.302867
BA     0.494198  0.155088  0.398793  0.452282  1.000000  0.584258  0.225712
XOM    0.587557  0.288844  0.478791  0.604687  0.584258  1.000000  0.495675
F      0.216731  0.250647  0.049915  0.302867  0.225712  0.495675  1.000000

In [227]:
sigma_7=np.matrix(correl_7)

In [228]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_7#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.015248862,0.036595244,0.015424881,0.022443549,0.018916214,0.007039501,0.001729762]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.06e-02]
[ 2.79e-02]
[-1.99e-02]
[ 2.07e-05]
[ 8.50e-03]
[-3.32e-03]
[-2.38e-02]

In [229]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-08-28', 
                            endDate='2019-08-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-08-31 00:00:00+00:00,111.778675,39.070447,955.24,70.706131,227.121975,60.428513,9.319331
2017-09-29 00:00:00+00:00,113.380760,36.716691,973.72,70.441350,240.910779,64.901474,10.113544
2017-10-31 00:00:00+00:00,120.398676,40.271149,1033.04,78.659035,244.483548,65.986068,10.495533
2017-11-30 00:00:00+00:00,121.529222,41.088252,1036.17,79.998095,263.736904,66.550729,10.709379
2017-12-29 00:00:00+00:00,121.095105,40.461827,1053.40,81.300190,280.992234,66.830388,10.683717

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-04-30 00:00:00+00:00,117.117389,48.907288,1198.96,126.821655,368.885064,67.537836,9.908374
2019-05-31 00:00:00+00:00,107.298508,42.834678,1106.50,120.540253,335.582316,60.213837,9.026576
2019-06-28 00:00:00+00:00,116.516767,48.425427,1082.80,130.559285,357.587070,65.199751,9.699777
2019-07-31 00:00:00+00:00,125.253413,52.124863,1218.20,132.810643,335.159903,63.268347,9.171328
2019-08-30 00:00:00+00:00,115.838415,51.268437,1190.53,134.821585,359.850891,58.993421,8.824877

In [230]:
returns_8= tickers_df.pct_change()
returns_8

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-08-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775

In [231]:
correl_8 = returns_8.corr()
display(correl_8)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.295874  0.687949  0.620597  0.452890  0.609484  0.230770
AAPL   0.295874  1.000000  0.370273  0.567910  0.160543  0.333790  0.271896
GOOGL  0.687949  0.370273  1.000000  0.656265  0.378668  0.493178  0.060695
MSFT   0.620597  0.567910  0.656265  1.000000  0.443648  0.607870  0.307479
BA     0.452890  0.160543  0.378668  0.443648  1.000000  0.534773  0.208602
XOM    0.609484  0.333790  0.493178  0.607870  0.534773  1.000000  0.501298
F      0.230770  0.271896  0.060695  0.307479  0.208602  0.501298  1.000000

In [232]:
sigma_8=np.matrix(correl_8)

In [233]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_8#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([-0.016686677,-0.009885831,-0.028267229,-0.024559752,-0.020699825,-0.022079292,-0.040521338]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.21e-02]
[ 2.90e-02]
[-2.03e-02]
[-3.73e-04]
[ 7.88e-03]
[-4.25e-03]
[-2.41e-02]

In [234]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-09-28', 
                            endDate='2019-09-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-09-29 00:00:00+00:00,113.380760,36.716691,973.72,70.441350,240.910779,64.901474,10.113544
2017-10-31 00:00:00+00:00,120.398676,40.271149,1033.04,78.659035,244.483548,65.986068,10.495533
2017-11-30 00:00:00+00:00,121.529222,41.088252,1036.17,79.998095,263.736904,66.550729,10.709379
2017-12-29 00:00:00+00:00,121.095105,40.461827,1053.40,81.300190,280.992234,66.830388,10.683717
2018-01-31 00:00:00+00:00,129.209155,40.031458,1182.22,90.300807,337.646122,69.754817,9.619813

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-05-31 00:00:00+00:00,107.298508,42.834678,1106.50,120.540253,335.582316,60.213837,9.026576
2019-06-28 00:00:00+00:00,116.516767,48.425427,1082.80,130.559285,357.587070,65.199751,9.699777
2019-07-31 00:00:00+00:00,125.253413,52.124863,1218.20,132.810643,335.159903,63.268347,9.171328
2019-08-30 00:00:00+00:00,115.838415,51.268437,1190.53,134.821585,359.850891,58.993421,8.824877
2019-09-30 00:00:00+00:00,124.291466,55.009063,1221.14,135.965798,376.040178,60.828351,8.815254

In [93]:
returns_9= tickers_df.pct_change()
returns_9

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-08-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-09-29 00:00:00+00:00,0.014333,-0.060244,0.019346,-0.003745,0.060711,0.074021,0.085222
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775

In [235]:
correl_9= returns_9.corr()
display(correl_9)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.295874  0.687949  0.620597  0.452890  0.609484  0.230770
AAPL   0.295874  1.000000  0.370273  0.567910  0.160543  0.333790  0.271896
GOOGL  0.687949  0.370273  1.000000  0.656265  0.378668  0.493178  0.060695
MSFT   0.620597  0.567910  0.656265  1.000000  0.443648  0.607870  0.307479
BA     0.452890  0.160543  0.378668  0.443648  1.000000  0.534773  0.208602
XOM    0.609484  0.333790  0.493178  0.607870  0.534773  1.000000  0.501298
F      0.230770  0.271896  0.060695  0.307479  0.208602  0.501298  1.000000

In [236]:
sigma_9=np.matrix(correl_9)

In [237]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_9#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.003802035,0.018625624,0.000258416,0.005595908,0.004716428,-0.002773664,-0.011737738]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.10e-02]
[ 2.63e-02]
[-1.85e-02]
[-3.26e-04]
[ 7.17e-03]
[-3.88e-03]
[-2.19e-02]

In [238]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-10-28', 
                            endDate='2019-10-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-10-31 00:00:00+00:00,120.398676,40.271149,1033.04,78.659035,244.483548,65.986068,10.495533
2017-11-30 00:00:00+00:00,121.529222,41.088252,1036.17,79.998095,263.736904,66.550729,10.709379
2017-12-29 00:00:00+00:00,121.095105,40.461827,1053.40,81.300190,280.992234,66.830388,10.683717
2018-01-31 00:00:00+00:00,129.209155,40.031458,1182.22,90.300807,337.646122,69.754817,9.619813
2018-02-28 00:00:00+00:00,124.247386,42.758906,1103.92,89.534463,346.906300,61.133020,9.304122

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-06-28 00:00:00+00:00,116.516767,48.425427,1082.80,130.559285,357.587070,65.199751,9.699777
2019-07-31 00:00:00+00:00,125.253413,52.124863,1218.20,132.810643,335.159903,63.268347,9.171328
2019-08-30 00:00:00+00:00,115.838415,51.268437,1190.53,134.821585,359.850891,58.993421,8.824877
2019-09-30 00:00:00+00:00,124.291466,55.009063,1221.14,135.965798,376.040178,60.828351,8.815254
2019-10-31 00:00:00+00:00,114.299943,61.097712,1258.80,140.210145,335.952419,58.209484,8.404027

In [97]:
returns_10= tickers_df.pct_change()
returns_10

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-09-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-10-31 00:00:00+00:00,0.061897,0.096808,0.060921,0.116660,0.014830,0.016711,0.037770
2017-11-30 00:00:00+00:00,0.009390,0.020290,0.003030,0.017024,0.078751,0.008557,0.020375
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091

In [98]:
correl_10= returns_10.corr()
display(correl_10)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.320541  0.685396  0.603673  0.454688  0.627751  0.227898
AAPL   0.320541  1.000000  0.385105  0.541536  0.186241  0.404169  0.320961
GOOGL  0.685396  0.385105  1.000000  0.658542  0.379458  0.503042  0.055800
MSFT   0.603673  0.541536  0.658542  1.000000  0.454348  0.648967  0.343953
BA     0.454688  0.186241  0.379458  0.454348  1.000000  0.532588  0.194279
XOM    0.627751  0.404169  0.503042  0.648967  0.532588  1.000000  0.472122
F      0.227898  0.320961  0.055800  0.343953  0.194279  0.472122  1.000000

In [99]:
sigma_10=np.matrix(correl_10)

In [239]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_10#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.026427832,0.053520445,0.030472058,0.038896963,0.032783729,0.016920465,0.015681281]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.44e-02]
[ 3.13e-02]
[-2.52e-02]
[ 6.66e-03]
[ 7.54e-03]
[-9.39e-03]
[-2.72e-02]

In [240]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-11-28', 
                            endDate='2019-11-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-11-30 00:00:00+00:00,121.529222,41.088252,1036.17,79.998095,263.736904,66.550729,10.709379
2017-12-29 00:00:00+00:00,121.095105,40.461827,1053.40,81.300190,280.992234,66.830388,10.683717
2018-01-31 00:00:00+00:00,129.209155,40.031458,1182.22,90.300807,337.646122,69.754817,9.619813
2018-02-28 00:00:00+00:00,124.247386,42.758906,1103.92,89.534463,346.906300,61.133020,9.304122
2018-03-30 00:00:00+00:00,122.333802,40.276719,1037.14,87.147386,314.026774,60.220949,9.716274

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-07-31 00:00:00+00:00,125.253413,52.124863,1218.20,132.810643,335.159903,63.268347,9.171328
2019-08-30 00:00:00+00:00,115.838415,51.268437,1190.53,134.821585,359.850891,58.993421,8.824877
2019-09-30 00:00:00+00:00,124.291466,55.009063,1221.14,135.965798,376.040178,60.828351,8.815254
2019-10-31 00:00:00+00:00,114.299943,61.097712,1258.80,140.210145,335.952419,58.209484,8.404027
2019-11-29 00:00:00+00:00,116.267375,65.833843,1304.09,148.548232,363.998050,59.413427,8.863851

In [241]:
returns_11= tickers_df.pct_change()
returns_11

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-11-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-29 00:00:00+00:00,-0.003572,-0.015246,0.016629,0.016277,0.065426,0.004202,-0.002396
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715

In [242]:
correl_11= returns_11.corr()
display(correl_11)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.246168  0.646316  0.579399  0.495399  0.635966  0.234904
AAPL   0.246168  1.000000  0.377874  0.519489  0.137062  0.365219  0.291926
GOOGL  0.646316  0.377874  1.000000  0.650460  0.364856  0.490380  0.044807
MSFT   0.579399  0.519489  0.650460  1.000000  0.485013  0.667043  0.342861
BA     0.495399  0.137062  0.364856  0.485013  1.000000  0.550364  0.229402
XOM    0.635966  0.365219  0.490380  0.667043  0.550364  1.000000  0.480353
F      0.234904  0.291926  0.044807  0.342861  0.229402  0.480353  1.000000

In [243]:
sigma_11=np.matrix(correl_11)

In [244]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_11#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.031593404,0.059074974,0.038280697,0.046499743,0.039191621,0.022566478,0.025030575]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.41e-02]
[ 2.71e-02]
[-2.30e-02]
[ 5.73e-03]
[ 7.36e-03]
[-8.43e-03]
[-2.42e-02]

In [245]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2017-12-28', 
                            endDate='2019-12-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-12-29 00:00:00+00:00,121.095105,40.461827,1053.40,81.300190,280.992234,66.830388,10.683717
2018-01-31 00:00:00+00:00,129.209155,40.031458,1182.22,90.300807,337.646122,69.754817,9.619813
2018-02-28 00:00:00+00:00,124.247386,42.758906,1103.92,89.534463,346.906300,61.133020,9.304122
2018-03-30 00:00:00+00:00,122.333802,40.276719,1037.14,87.147386,314.026774,60.220949,9.716274
2018-04-30 00:00:00+00:00,115.580447,39.671776,1018.58,89.295755,319.466789,62.755378,9.991480

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-08-30 00:00:00+00:00,115.838415,51.268437,1190.53,134.821585,359.850891,58.993421,8.824877
2019-09-30 00:00:00+00:00,124.291466,55.009063,1221.14,135.965798,376.040178,60.828351,8.815254
2019-10-31 00:00:00+00:00,114.299943,61.097712,1258.80,140.210145,335.952419,58.209484,8.404027
2019-11-29 00:00:00+00:00,116.267375,65.833843,1304.09,148.548232,363.998050,59.413427,8.863851
2019-12-31 00:00:00+00:00,115.912822,72.337167,1339.39,154.750008,323.818900,60.852325,9.098655

In [246]:
returns_12= tickers_df.pct_change()
returns_12

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2017-12-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-01-31 00:00:00+00:00,0.067006,-0.010636,0.122290,0.110708,0.201621,0.043759,-0.099582
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490

In [247]:
correl_12= returns_12.corr()
display(correl_12)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.240547  0.645082  0.577825  0.484505  0.632966  0.233389
AAPL   0.240547  1.000000  0.384537  0.519278  0.096107  0.377139  0.301493
GOOGL  0.645082  0.384537  1.000000  0.653231  0.336105  0.492319  0.048661
MSFT   0.577825  0.519278  0.653231  1.000000  0.459270  0.670344  0.346251
BA     0.484505  0.096107  0.336105  0.459270  1.000000  0.504871  0.200251
XOM    0.632966  0.377139  0.492319  0.670344  0.504871  1.000000  0.483797
F      0.233389  0.301493  0.048661  0.346251  0.200251  0.483797  1.000000

In [248]:
sigma_12=np.matrix(correl_12)

In [249]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_12#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.025127153,0.050318204,0.02918688,0.036982606,0.03117024,0.016358532,0.015637306]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.52e-02]
[ 2.93e-02]
[-2.48e-02]
[ 6.41e-03]
[ 7.03e-03]
[-8.74e-03]
[-2.58e-02]

In [250]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-01-28', 
                            endDate='2020-01-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-01-31 00:00:00+00:00,129.209155,40.031458,1182.22,90.300807,337.646122,69.754817,9.619813
2018-02-28 00:00:00+00:00,124.247386,42.758906,1103.92,89.534463,346.906300,61.133020,9.304122
2018-03-30 00:00:00+00:00,122.333802,40.276719,1037.14,87.147386,314.026774,60.220949,9.716274
2018-04-30 00:00:00+00:00,115.580447,39.671776,1018.58,89.295755,319.466789,62.755378,9.991480
2018-05-31 00:00:00+00:00,113.910597,45.033046,1100.00,94.783459,338.957181,66.233839,10.267046

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-09-30 00:00:00+00:00,124.291466,55.009063,1221.14,135.965798,376.040178,60.828351,8.815254
2019-10-31 00:00:00+00:00,114.299943,61.097712,1258.80,140.210145,335.952419,58.209484,8.404027
2019-11-29 00:00:00+00:00,116.267375,65.833843,1304.09,148.548232,363.998050,59.413427,8.863851
2019-12-31 00:00:00+00:00,115.912822,72.337167,1339.39,154.750008,323.818900,60.852325,9.098655
2020-01-31 00:00:00+00:00,124.292375,76.244089,1432.78,167.045617,316.373531,54.172348,8.775137

In [251]:
returns_13= tickers_df.pct_change()
returns_13

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-01-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-28 00:00:00+00:00,-0.038401,0.068133,-0.066231,-0.008487,0.027426,-0.123601,-0.032817
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557

In [252]:
correl_13= returns_13.corr()
display(correl_13)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.266188  0.652746  0.579301  0.443870  0.520623  0.265066
AAPL   0.266188  1.000000  0.459440  0.586453  0.147763  0.357722  0.282178
GOOGL  0.652746  0.459440  1.000000  0.620117  0.181897  0.364291  0.137179
MSFT   0.579301  0.586453  0.620117  1.000000  0.341927  0.538363  0.439084
BA     0.443870  0.147763  0.181897  0.341927  1.000000  0.483870  0.353394
XOM    0.520623  0.357722  0.364291  0.538363  0.483870  1.000000  0.542172
F      0.265066  0.282178  0.137179  0.439084  0.353394  0.542172  1.000000

In [253]:
sigma_13=np.matrix(correl_13)

In [254]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_13#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.014591734,0.034984228,0.014773011,0.021476383,0.01810105,0.006752374,0.001698815
]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.36e-02]
[ 2.93e-02]
[-2.30e-02]
[ 3.62e-03]
[ 6.27e-03]
[-5.77e-03]
[-2.46e-02]

In [255]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-02-28', 
                            endDate='2020-02-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-02-28 00:00:00+00:00,124.247386,42.758906,1103.92,89.534463,346.906300,61.133020,9.304122
2018-03-30 00:00:00+00:00,122.333802,40.276719,1037.14,87.147386,314.026774,60.220949,9.716274
2018-04-30 00:00:00+00:00,115.580447,39.671776,1018.58,89.295755,319.466789,62.755378,9.991480
2018-05-31 00:00:00+00:00,113.910597,45.033046,1100.00,94.783459,338.957181,66.233839,10.267046
2018-06-29 00:00:00+00:00,112.612769,44.608910,1129.19,94.562898,322.931405,67.448615,9.840363

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-10-31 00:00:00+00:00,114.299943,61.097712,1258.80,140.210145,335.952419,58.209484,8.404027
2019-11-29 00:00:00+00:00,116.267375,65.833843,1304.09,148.548232,363.998050,59.413427,8.863851
2019-12-31 00:00:00+00:00,115.912822,72.337167,1339.39,154.750008,323.818900,60.852325,9.098655
2020-01-31 00:00:00+00:00,124.292375,76.244089,1432.78,167.045617,316.373531,54.172348,8.775137
2020-02-28 00:00:00+00:00,113.737404,67.500987,1339.25,159.412316,275.110000,45.509636,6.924598

In [256]:
returns_14= tickers_df.pct_change()
returns_14

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-02-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03-30 00:00:00+00:00,-0.015401,-0.058051,-0.060494,-0.026661,-0.094779,-0.014919,0.044298
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884

In [257]:
correl_14= returns_14.corr()
display(correl_14)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.324881  0.673084  0.598425  0.487257  0.551242  0.323731
AAPL   0.324881  1.000000  0.550857  0.646705  0.222586  0.499797  0.391956
GOOGL  0.673084  0.550857  1.000000  0.641242  0.276263  0.377346  0.233090
MSFT   0.598425  0.646705  0.641242  1.000000  0.414896  0.582030  0.505795
BA     0.487257  0.222586  0.276263  0.414896  1.000000  0.601714  0.444038
XOM    0.551242  0.499797  0.377346  0.582030  0.601714  1.000000  0.648969
F      0.323731  0.391956  0.233090  0.505795  0.444038  0.648969  1.000000

In [258]:
sigma_14=np.matrix(correl_14)

In [259]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_14#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([-0.044960153,-0.053000711,-0.066207672,-0.066173198,-0.055773149,-0.04692298,-0.075412332]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.78e-02]
[ 3.68e-02]
[-2.91e-02]
[ 8.23e-04]
[ 1.04e-02]
[-1.31e-02]
[-2.55e-02]

In [260]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-03-28', 
                            endDate='2020-03-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-03-30 00:00:00+00:00,122.333802,40.276719,1037.14,87.147386,314.026774,60.220949,9.716274
2018-04-30 00:00:00+00:00,115.580447,39.671776,1018.58,89.295755,319.466789,62.755378,9.991480
2018-05-31 00:00:00+00:00,113.910597,45.033046,1100.00,94.783459,338.957181,66.233839,10.267046
2018-06-29 00:00:00+00:00,112.612769,44.608910,1129.19,94.562898,322.931405,67.448615,9.840363
2018-07-31 00:00:00+00:00,116.828694,45.857218,1227.22,101.726318,342.941968,66.453966,9.051546

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-11-29 00:00:00+00:00,116.267375,65.833843,1304.09,148.548232,363.998050,59.413427,8.863851
2019-12-31 00:00:00+00:00,115.912822,72.337167,1339.39,154.750008,323.818900,60.852325,9.098655
2020-01-31 00:00:00+00:00,124.292375,76.244089,1432.78,167.045617,316.373531,54.172348,8.775137
2020-02-28 00:00:00+00:00,113.737404,67.500987,1339.25,159.412316,275.110000,45.509636,6.924598
2020-03-31 00:00:00+00:00,96.941146,62.792018,1161.95,155.181262,149.140000,33.592552,4.805432

In [261]:
returns_15= tickers_df.pct_change()
returns_15

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-03-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-04-30 00:00:00+00:00,-0.055204,-0.015020,-0.017895,0.024652,0.017323,0.042086,0.028324
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034

In [262]:
correl_15= returns_15.corr()
display(correl_15)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.368527  0.730143  0.630058  0.562341  0.617935  0.446445
AAPL   0.368527  1.000000  0.555027  0.649030  0.280420  0.521928  0.461998
GOOGL  0.730143  0.555027  1.000000  0.636277  0.488552  0.557370  0.466525
MSFT   0.630058  0.649030  0.636277  1.000000  0.418243  0.595991  0.568965
BA     0.562341  0.280420  0.488552  0.418243  1.000000  0.770887  0.679087
XOM    0.617935  0.521928  0.557370  0.595991  0.770887  1.000000  0.768098
F      0.446445  0.461998  0.466525  0.568965  0.679087  0.768098  1.000000

In [263]:
sigma_15=np.matrix(correl_15)

In [264]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_15#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([-0.050848576,-0.059607304,-0.075005308,-0.074839864,-0.063077671,-0.053228079,-0.085717949]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.36e-02]
[ 4.00e-02]
[-2.87e-02]
[-8.53e-04]
[ 3.22e-02]
[-1.22e-02]
[-4.54e-02]

In [265]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-04-28', 
                            endDate='2020-04-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-04-30 00:00:00+00:00,115.580447,39.671776,1018.58,89.295755,319.466789,62.755378,9.991480
2018-05-31 00:00:00+00:00,113.910597,45.033046,1100.00,94.783459,338.957181,66.233839,10.267046
2018-06-29 00:00:00+00:00,112.612769,44.608910,1129.19,94.562898,322.931405,67.448615,9.840363
2018-07-31 00:00:00+00:00,116.828694,45.857218,1227.22,101.726318,342.941968,66.453966,9.051546
2018-08-31 00:00:00+00:00,119.358689,55.048592,1231.80,108.140042,331.579908,66.036331,8.546679

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2019-12-31 00:00:00+00:00,115.912822,72.337167,1339.39,154.750008,323.818900,60.852325,9.098655
2020-01-31 00:00:00+00:00,124.292375,76.244089,1432.78,167.045617,316.373531,54.172348,8.775137
2020-02-28 00:00:00+00:00,113.737404,67.500987,1339.25,159.412316,275.110000,45.509636,6.924598
2020-03-31 00:00:00+00:00,96.941146,62.792018,1161.95,155.181262,149.140000,33.592552,4.805432
2020-04-30 00:00:00+00:00,109.726227,72.548252,1346.70,176.336529,141.020000,41.112613,5.064110

In [266]:
returns_16= tickers_df.pct_change()
returns_16

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-04-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-05-31 00:00:00+00:00,-0.014448,0.135141,0.079935,0.061455,0.061009,0.055429,0.027580
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830

In [267]:
correl_16= returns_16.corr()
display(correl_16)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.413835  0.754423  0.673903  0.533328  0.683891  0.481472
AAPL   0.413835  1.000000  0.596902  0.683265  0.262354  0.589056  0.491637
GOOGL  0.754423  0.596902  1.000000  0.703835  0.420988  0.673223  0.489248
MSFT   0.673903  0.683265  0.703835  1.000000  0.361291  0.682306  0.576343
BA     0.533328  0.262354  0.420988  0.361291  1.000000  0.638230  0.661853
XOM    0.683891  0.589056  0.673223  0.682306  0.638230  1.000000  0.726848
F      0.481472  0.491637  0.489248  0.576343  0.661853  0.726848  1.000000

In [268]:
sigma_16=np.matrix(correl_16)

In [269]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_16#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.057031217,0.111154447,0.067398287,0.083939544,0.070747156,0.038584219,0.039402016]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 3.08e-02]
[ 8.25e-02]
[-5.61e-02]
[ 5.92e-04]
[ 5.03e-02]
[-1.41e-02]
[-9.41e-02]

In [272]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-05-28', 
                            endDate='2020-05-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-05-31 00:00:00+00:00,113.910597,45.033046,1100.00,94.783459,338.957181,66.233839,10.267046
2018-06-29 00:00:00+00:00,112.612769,44.608910,1129.19,94.562898,322.931405,67.448615,9.840363
2018-07-31 00:00:00+00:00,116.828694,45.857218,1227.22,101.726318,342.941968,66.453966,9.051546
2018-08-31 00:00:00+00:00,119.358689,55.048592,1231.80,108.140042,331.579908,66.036331,8.546679
2018-09-28 00:00:00+00:00,123.212912,54.591526,1207.08,110.103949,359.737938,70.031294,8.339323

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-01-31 00:00:00+00:00,124.292375,76.244089,1432.78,167.045617,316.373531,54.172348,8.775137
2020-02-28 00:00:00+00:00,113.737404,67.500987,1339.25,159.412316,275.110000,45.509636,6.924598
2020-03-31 00:00:00+00:00,96.941146,62.792018,1161.95,155.181262,149.140000,33.592552,4.805432
2020-04-30 00:00:00+00:00,109.726227,72.548252,1346.70,176.336529,141.020000,41.112613,5.064110
2020-05-29 00:00:00+00:00,110.617027,78.716742,1433.52,180.807060,145.850000,41.021152,5.680956

In [273]:
returns_17= tickers_df.pct_change()
returns_17

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-05-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-06-29 00:00:00+00:00,-0.011393,-0.009418,0.026536,-0.002327,-0.047280,0.018341,-0.041558
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807

In [274]:
correl_17= returns_17.corr()
display(correl_17)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.432311  0.770838  0.683708  0.543027  0.697405  0.473593
AAPL   0.432311  1.000000  0.585632  0.671345  0.248058  0.575612  0.497298
GOOGL  0.770838  0.585632  1.000000  0.687916  0.413294  0.660084  0.500955
MSFT   0.683708  0.671345  0.687916  1.000000  0.347191  0.676174  0.548151
BA     0.543027  0.248058  0.413294  0.347191  1.000000  0.629952  0.657888
XOM    0.697405  0.575612  0.660084  0.676174  0.629952  1.000000  0.705572
F      0.473593  0.497298  0.500955  0.548151  0.657888  0.705572  1.000000

In [275]:
sigma_17=np.matrix(correl_17)

In [276]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_17#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.048155794,0.083180968,0.060940328,0.070876576,0.059737271,0.037668051,0.046942822
]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.22e-02]
[ 3.83e-02]
[-2.20e-02]
[-2.24e-03]
[ 2.36e-02]
[-7.82e-03]
[-4.28e-02]

In [277]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-06-28', 
                            endDate='2020-06-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-06-29 00:00:00+00:00,112.612769,44.608910,1129.19,94.562898,322.931405,67.448615,9.840363
2018-07-31 00:00:00+00:00,116.828694,45.857218,1227.22,101.726318,342.941968,66.453966,9.051546
2018-08-31 00:00:00+00:00,119.358689,55.048592,1231.80,108.140042,331.579908,66.036331,8.546679
2018-09-28 00:00:00+00:00,123.212912,54.591526,1207.08,110.103949,359.737938,70.031294,8.339323
2018-10-31 00:00:00+00:00,94.057711,52.927711,1090.58,102.825941,343.255189,65.632716,8.763351

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-02-28 00:00:00+00:00,113.737404,67.500987,1339.25,159.412316,275.11,45.509636,6.924598
2020-03-31 00:00:00+00:00,96.941146,62.792018,1161.95,155.181262,149.14,33.592552,4.805432
2020-04-30 00:00:00+00:00,109.726227,72.548252,1346.70,176.336529,141.02,41.112613,5.064110
2020-05-29 00:00:00+00:00,110.617027,78.716742,1433.52,180.807060,145.85,41.021152,5.680956
2020-06-30 00:00:00+00:00,106.959314,90.318512,1418.05,200.796970,183.30,40.344533,6.049074

In [278]:
returns_18= tickers_df.pct_change()
returns_18

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-06-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-07-31 00:00:00+00:00,0.037437,0.027983,0.086814,0.075753,0.061965,-0.014747,-0.080161
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807
2020-06-30 00:00:00+00:00,-0.033066,0.147386,-0.010792,0.110559,0.256771,-0.016494,0.064799

In [279]:
correl_18= returns_18.corr()
display(correl_18)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.397252  0.774512  0.630442  0.459447  0.699759  0.454598
AAPL   0.397252  1.000000  0.555221  0.691136  0.317886  0.567416  0.511160
GOOGL  0.774512  0.555221  1.000000  0.646842  0.348731  0.657795  0.486967
MSFT   0.630442  0.691136  0.646842  1.000000  0.420429  0.662110  0.560378
BA     0.459447  0.317886  0.348731  0.420429  1.000000  0.578206  0.652447
XOM    0.699759  0.567416  0.657795  0.662110  0.578206  1.000000  0.703776
F      0.454598  0.511160  0.486967  0.560378  0.652447  0.703776  1.000000

In [280]:
sigma_18=np.matrix(correl_18)

In [281]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_18#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.043862346,0.078241187,0.054571988,0.064557396,0.054411247,0.033129251,0.039585744

]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.75e-02]
[ 4.26e-02]
[-1.97e-02]
[-8.14e-03]
[ 1.93e-02]
[-9.01e-03]
[-4.26e-02]

In [282]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-07-28', 
                            endDate='2020-07-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-07-31 00:00:00+00:00,116.828694,45.857218,1227.22,101.726318,342.941968,66.453966,9.051546
2018-08-31 00:00:00+00:00,119.358689,55.048592,1231.80,108.140042,331.579908,66.036331,8.546679
2018-09-28 00:00:00+00:00,123.212912,54.591526,1207.08,110.103949,359.737938,70.031294,8.339323
2018-10-31 00:00:00+00:00,94.057711,52.927711,1090.58,102.825941,343.255189,65.632716,8.763351
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-03-31 00:00:00+00:00,96.941146,62.792018,1161.95,155.181262,149.14,33.592552,4.805432
2020-04-30 00:00:00+00:00,109.726227,72.548252,1346.70,176.336529,141.02,41.112613,5.064110
2020-05-29 00:00:00+00:00,110.617027,78.716742,1433.52,180.807060,145.85,41.021152,5.680956
2020-06-30 00:00:00+00:00,106.959314,90.318512,1418.05,200.796970,183.30,40.344533,6.049074
2020-07-31 00:00:00+00:00,108.881164,105.232950,1487.95,202.276973,158.00,37.962834,6.576378

In [283]:
returns_19= tickers_df.pct_change()
returns_19

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-07-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-08-31 00:00:00+00:00,0.021656,0.200435,0.003732,0.063049,-0.033131,-0.006285,-0.055777
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807
2020-06-30 00:00:00+00:00,-0.033066,0.147386,-0.010792,0.110559,0.256771,-0.016494,0.064799
2020-07-31 00:00:00+00:00,0.017968,0.165132,0.049293,0.007371,-0.138025,-0.059034,0.087171

In [284]:
correl_19= returns_19.corr()
display(correl_19)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.395522  0.777813  0.621452  0.440385  0.695144  0.468924
AAPL   0.395522  1.000000  0.582486  0.652638  0.259192  0.522716  0.533260
GOOGL  0.777813  0.582486  1.000000  0.617051  0.303646  0.656780  0.543943
MSFT   0.621452  0.652638  0.617051  1.000000  0.417679  0.672592  0.565881
BA     0.440385  0.259192  0.303646  0.417679  1.000000  0.585804  0.624719
XOM    0.695144  0.522716  0.656780  0.672592  0.585804  1.000000  0.681053
F      0.468924  0.533260  0.543943  0.565881  0.624719  0.681053  1.000000

In [285]:
sigma_19=np.matrix(correl_19)

In [286]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_19#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.048491496,0.084978765,0.060905293,0.071370675,0.060153716,0.037350108,0.045710175
]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.65e-02]
[ 4.35e-02]
[-1.83e-02]
[-8.23e-03]
[ 1.98e-02]
[-7.94e-03]
[-4.54e-02]

In [287]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-08-28', 
                            endDate='2020-08-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-08-31 00:00:00+00:00,119.358689,55.048592,1231.80,108.140042,331.579908,66.036331,8.546679
2018-09-28 00:00:00+00:00,123.212912,54.591526,1207.08,110.103949,359.737938,70.031294,8.339323
2018-10-31 00:00:00+00:00,94.057711,52.927711,1090.58,102.825941,343.255189,65.632716,8.763351
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-04-30 00:00:00+00:00,109.726227,72.548252,1346.70,176.336529,141.02,41.112613,5.064110
2020-05-29 00:00:00+00:00,110.617027,78.716742,1433.52,180.807060,145.85,41.021152,5.680956
2020-06-30 00:00:00+00:00,106.959314,90.318512,1418.05,200.796970,183.30,40.344533,6.049074
2020-07-31 00:00:00+00:00,108.881164,105.232950,1487.95,202.276973,158.00,37.962834,6.576378
2020-08-31 00:00:00+00:00,110.633391,128.028546,1629.53,223.064604,171.82,36.743215,6.785310

In [288]:
returns_20= tickers_df.pct_change()
returns_20

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-08-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-09-28 00:00:00+00:00,0.032291,-0.008303,-0.020068,0.018161,0.084921,0.060496,-0.024262
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807
2020-06-30 00:00:00+00:00,-0.033066,0.147386,-0.010792,0.110559,0.256771,-0.016494,0.064799
2020-07-31 00:00:00+00:00,0.017968,0.165132,0.049293,0.007371,-0.138025,-0.059034,0.087171
2020-08-31 00:00:00+00:00,0.016093,0.216620,0.095151,0.102768,0.087468,-0.032127,0.031770

In [289]:
correl_20= returns_20.corr()
display(correl_20)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.388360  0.763313  0.608370  0.441528  0.693299  0.476591
AAPL   0.388360  1.000000  0.654782  0.682583  0.315472  0.498228  0.581827
GOOGL  0.763313  0.654782  1.000000  0.648638  0.328779  0.629826  0.542133
MSFT   0.608370  0.682583  0.648638  1.000000  0.443977  0.644172  0.579341
BA     0.441528  0.315472  0.328779  0.443977  1.000000  0.575011  0.626806
XOM    0.693299  0.498228  0.629826  0.644172  0.575011  1.000000  0.683076
F      0.476591  0.581827  0.542133  0.579341  0.626806  0.683076  1.000000

In [290]:
sigma_20=np.matrix(correl_20)

In [291]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_20#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.066112436,0.109970837,0.085260264,0.097305486,0.082012492,0.053728882,0.069861278

]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 2.18e-02]
[ 5.40e-02]
[-2.96e-02]
[-7.70e-03]
[ 1.72e-02]
[-9.21e-03]
[-4.65e-02]

In [292]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-09-28', 
                            endDate='2020-09-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-09-28 00:00:00+00:00,123.212912,54.591526,1207.08,110.103949,359.737938,70.031294,8.339323
2018-10-31 00:00:00+00:00,94.057711,52.927711,1090.58,102.825941,343.255189,65.632716,8.763351
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-05-29 00:00:00+00:00,110.617027,78.716742,1433.52,180.807060,145.85,41.021152,5.680956
2020-06-30 00:00:00+00:00,106.959314,90.318512,1418.05,200.796970,183.30,40.344533,6.049074
2020-07-31 00:00:00+00:00,108.881164,105.232950,1487.95,202.276973,158.00,37.962834,6.576378
2020-08-31 00:00:00+00:00,110.633391,128.028546,1629.53,223.064604,171.82,36.743215,6.785310
2020-09-30 00:00:00+00:00,109.161988,114.902247,1465.60,208.030764,165.26,31.582238,6.626124

In [293]:
returns_21= tickers_df.pct_change()
returns_21

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-09-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-10-31 00:00:00+00:00,-0.236625,-0.030478,-0.096514,-0.066101,-0.045819,-0.062809,0.050847
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807
2020-06-30 00:00:00+00:00,-0.033066,0.147386,-0.010792,0.110559,0.256771,-0.016494,0.064799
2020-07-31 00:00:00+00:00,0.017968,0.165132,0.049293,0.007371,-0.138025,-0.059034,0.087171
2020-08-31 00:00:00+00:00,0.016093,0.216620,0.095151,0.102768,0.087468,-0.032127,0.031770
2020-09-30 00:00:00+00:00,-0.013300,-0.102526,-0.100600,-0.067397,-0.038179,-0.140461,-0.023460

In [294]:
correl_21= returns_21.corr()
display(correl_21)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.390812  0.743979  0.588652  0.437297  0.679411  0.481598
AAPL   0.390812  1.000000  0.681788  0.710111  0.330293  0.557720  0.568618
GOOGL  0.743979  0.681788  1.000000  0.685747  0.339898  0.685381  0.524166
MSFT   0.588652  0.710111  0.685747  1.000000  0.440035  0.687851  0.557852
BA     0.437297  0.330293  0.339898  0.440035  1.000000  0.553322  0.640978
XOM    0.679411  0.557720  0.685381  0.687851  0.553322  1.000000  0.689225
F      0.481598  0.568618  0.524166  0.557852  0.640978  0.689225  1.000000

In [295]:
sigma_21=np.matrix(correl_21)

In [296]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_21#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([-0.034713315,-0.036777577,-0.052682933,-0.051091689,-0.043061873,-0.038203943,-0.063532404

]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 2.27e-02]
[ 5.78e-02]
[-3.32e-02]
[-8.40e-03]
[ 1.77e-02]
[-9.46e-03]
[-4.72e-02]

In [297]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-10-28', 
                            endDate='2020-10-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-10-31 00:00:00+00:00,94.057711,52.927711,1090.58,102.825941,343.255189,65.632716,8.763351
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-06-30 00:00:00+00:00,106.959314,90.318512,1418.05,200.796970,183.30,40.344533,6.049074
2020-07-31 00:00:00+00:00,108.881164,105.232950,1487.95,202.276973,158.00,37.962834,6.576378
2020-08-31 00:00:00+00:00,110.633391,128.028546,1629.53,223.064604,171.82,36.743215,6.785310
2020-09-30 00:00:00+00:00,109.161988,114.902247,1465.60,208.030764,165.26,31.582238,6.626124
2020-10-30 00:00:00+00:00,100.181044,108.006723,1616.11,200.256686,144.39,30.009106,7.690682

In [298]:
returns_22= tickers_df.pct_change()
returns_22

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-10-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-11-30 00:00:00+00:00,0.090283,-0.181188,0.017486,0.042748,-0.018319,0.007858,-0.014660
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807
2020-06-30 00:00:00+00:00,-0.033066,0.147386,-0.010792,0.110559,0.256771,-0.016494,0.064799
2020-07-31 00:00:00+00:00,0.017968,0.165132,0.049293,0.007371,-0.138025,-0.059034,0.087171
2020-08-31 00:00:00+00:00,0.016093,0.216620,0.095151,0.102768,0.087468,-0.032127,0.031770
2020-09-30 00:00:00+00:00,-0.013300,-0.102526,-0.100600,-0.067397,-0.038179,-0.140461,-0.023460
2020-10-30 00:00:00+00:00,-0.082272,-0.060012,0.102695,-0.037370,-0.126286,-0.049811,0.160661

In [299]:
correl_22= returns_22.corr()
display(correl_22)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.408615  0.619561  0.544153  0.512410  0.751288  0.530428
AAPL   0.408615  1.000000  0.599309  0.723701  0.347632  0.552744  0.502226
GOOGL  0.619561  0.599309  1.000000  0.551280  0.292699  0.663941  0.616055
MSFT   0.544153  0.723701  0.551280  1.000000  0.471391  0.694501  0.517056
BA     0.512410  0.347632  0.292699  0.471391  1.000000  0.552708  0.571172
XOM    0.751288  0.552744  0.663941  0.694501  0.552708  1.000000  0.658798
F      0.530428  0.502226  0.616055  0.517056  0.571172  0.658798  1.000000

In [300]:
sigma_22=np.matrix(correl_22)

In [301]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_22#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([-0.014606732,-0.006858548,-0.025421588,-0.021498458,-0.018119658,-0.0201828,-0.037769549

]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 1.50e-02]
[ 4.28e-02]
[-7.42e-03]
[-1.75e-02]
[ 1.23e-02]
[-7.86e-03]
[-3.75e-02]

In [302]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-11-28', 
                            endDate='2020-11-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193
2019-03-29 00:00:00+00:00,117.810392,46.294610,1176.89,114.527918,372.528108,67.975300,8.195528

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-07-31 00:00:00+00:00,108.881164,105.232950,1487.95,202.276973,158.00,37.962834,6.576378
2020-08-31 00:00:00+00:00,110.633391,128.028546,1629.53,223.064604,171.82,36.743215,6.785310
2020-09-30 00:00:00+00:00,109.161988,114.902247,1465.60,208.030764,165.26,31.582238,6.626124
2020-10-30 00:00:00+00:00,100.181044,108.006723,1616.11,200.256686,144.39,30.009106,7.690682
2020-11-30 00:00:00+00:00,112.385375,118.320861,1754.40,212.291604,210.71,35.906029,9.033815

In [303]:
returns_23= tickers_df.pct_change()
returns_23

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-11-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807
2020-06-30 00:00:00+00:00,-0.033066,0.147386,-0.010792,0.110559,0.256771,-0.016494,0.064799
2020-07-31 00:00:00+00:00,0.017968,0.165132,0.049293,0.007371,-0.138025,-0.059034,0.087171
2020-08-31 00:00:00+00:00,0.016093,0.216620,0.095151,0.102768,0.087468,-0.032127,0.031770
2020-09-30 00:00:00+00:00,-0.013300,-0.102526,-0.100600,-0.067397,-0.038179,-0.140461,-0.023460
2020-10-30 00:00:00+00:00,-0.082272,-0.060012,0.102695,-0.037370,-0.126286,-0.049811,0.160661
2020-11-30 00:00:00+00:00,0.121823,0.095495,0.085570,0.060097,0.459312,0.196504,0.174644

In [304]:
correl_23= returns_23.corr()
display(correl_23)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.575406  0.652756  0.551811  0.580867  0.780038  0.589091
AAPL   0.575406  1.000000  0.665528  0.825574  0.377398  0.629755  0.546690
GOOGL  0.652756  0.665528  1.000000  0.558966  0.342519  0.672214  0.633383
MSFT   0.551811  0.825574  0.558966  1.000000  0.444948  0.670183  0.524957
BA     0.580867  0.377398  0.342519  0.444948  1.000000  0.652253  0.611466
XOM    0.780038  0.629755  0.672214  0.670183  0.652253  1.000000  0.695912
F      0.589091  0.546690  0.633383  0.524957  0.611466  0.695912  1.000000

In [305]:
sigma_23=np.matrix(correl_23)

In [306]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_23#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([8.09E-02,1.31E-01,1.06E-01,1.19E-01,1.00E-01,6.75E-02,9.02E-02


]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 5.61e-03]
[ 5.91e-02]
[-8.50e-03]
[-3.16e-02]
[ 1.78e-02]
[-7.35e-03]
[-3.69e-02]

In [307]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-12-28', 
                            endDate='2020-12-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193
2019-03-29 00:00:00+00:00,117.810392,46.294610,1176.89,114.527918,372.528108,67.975300,8.195528
2019-04-30 00:00:00+00:00,117.117389,48.907288,1198.96,126.821655,368.885064,67.537836,9.908374

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-08-31 00:00:00+00:00,110.633391,128.028546,1629.53,223.064604,171.82,36.743215,6.785310
2020-09-30 00:00:00+00:00,109.161988,114.902247,1465.60,208.030764,165.26,31.582238,6.626124
2020-10-30 00:00:00+00:00,100.181044,108.006723,1616.11,200.256686,144.39,30.009106,7.690682
2020-11-30 00:00:00+00:00,112.385375,118.320861,1754.40,212.291604,210.71,35.906029,9.033815
2020-12-31 00:00:00+00:00,114.532635,131.877320,1752.64,220.572236,214.06,38.815802,8.745290

In [308]:
returns_24= tickers_df.pct_change()
returns_24

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-12-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807
2020-06-30 00:00:00+00:00,-0.033066,0.147386,-0.010792,0.110559,0.256771,-0.016494,0.064799
2020-07-31 00:00:00+00:00,0.017968,0.165132,0.049293,0.007371,-0.138025,-0.059034,0.087171
2020-08-31 00:00:00+00:00,0.016093,0.216620,0.095151,0.102768,0.087468,-0.032127,0.031770
2020-09-30 00:00:00+00:00,-0.013300,-0.102526,-0.100600,-0.067397,-0.038179,-0.140461,-0.023460
2020-10-30 00:00:00+00:00,-0.082272,-0.060012,0.102695,-0.037370,-0.126286,-0.049811,0.160661
2020-11-30 00:00:00+00:00,0.121823,0.095495,0.085570,0.060097,0.459312,0.196504,0.174644
2020-12-31 00:00:00+00:00,0.019106,0.114574,-0.001003,0.039006,0.015899,0.081039,-0.031938

In [312]:
correl_24= returns_24.corr()
display(correl_24)

            IBM      AAPL     GOOGL      MSFT        BA       XOM         F
IBM    1.000000  0.537952  0.628597  0.512274  0.580446  0.757747  0.551993
AAPL   0.537952  1.000000  0.623282  0.791953  0.373644  0.609018  0.467172
GOOGL  0.628597  0.623282  1.000000  0.519637  0.331366  0.626778  0.608334
MSFT   0.512274  0.791953  0.519637  1.000000  0.452738  0.637596  0.447993
BA     0.580446  0.373644  0.331366  0.452738  1.000000  0.646926  0.618271
XOM    0.757747  0.609018  0.626778  0.637596  0.646926  1.000000  0.643895
F      0.551993  0.467172  0.608334  0.447993  0.618271  0.643895  1.000000

In [313]:
sigma_24=np.matrix(correl_24)

In [314]:
from cvxopt  import solvers, matrix   #W_a with full investment; 
def sqp(paraP, paraq, paraG, parah,paraA,parab):
    P = matrix(np.array(paraP), tc='d')
    print('P',P.size)
    q = matrix(np.array(paraq), tc='d')
    print('q',q.size)
    G = matrix(np.array(paraG), tc='d')
    print('G',G.size)
    h = matrix(np.array(parah), tc='d')
    print('h',h.size)
    A = matrix(np.array(paraA), tc='d')
    print('A',A.size)
    b = matrix(np.array(parab), tc='d')
    print('b',b.size)
    result = solvers.qp(P, q, G, h,A,b)

    print('x\n', result['x'])
P = sigma_24#P里面的这个东西，我已经转化成矩阵了，但是还是显示要转化成7*7的矩阵，为什么？该怎么改？

q = -np.array([0.040256728,0.071029531,0.050380509,0.05925059,0.049938485,0.030777711,0.037330657
]) #加个负号，最小问题转化成最大问题
G = [[1,0,0,0,0,0,0],[0,1,0,0,0,0,0],[0,0,1,0,0,0,0],[0,0,0,1,0,0,0],[0,0,0,0,1,0,0],[0,0,0,0,0,1,0],[0,0,0,0,0,0,1],
     [-1,0,0,0,0,0,0],[0,-1,0,0,0,0,0],[0,0,-1,0,0,0,0],[0,0,0,-1,0,0,0],[0,0,0,0,-1,0,0],[0,0,0,0,0,-1,0],[0,0,0,0,0,0,-1],[1,1,1,1,1,1,1]]
h = [6/7,6/7,6/7,6/7,6/7,6/7,6/7,1/7,1/7,1/7,1/7,1/7,1/7,1/7,0]
h = np.array(h)
h = h.T
A=([[0.714266], [1.039589], [0.977212],[1.051269],[0.886047],[0.651267],[0.944982]])
A=np.array(A)
A=A.T
b=[[0.0]]
sqp(P, q, G, h,A,b)

P (7, 7)
q (7, 1)
G (15, 7)
h (15, 1)
A (1, 7)
b (1, 1)
x
 [ 5.99e-03]
[ 4.53e-02]
[-4.66e-03]
[-2.43e-02]
[ 1.83e-02]
[-1.21e-02]
[-3.13e-02]

In [333]:
tickers_df = client.get_dataframe(['IBM','AAPL','GOOGL','MSFT','BA','XOM','F'] ,
                            frequency='monthly',
                            metric_name='adjClose',
                            startDate='2018-11-28', 
                            endDate='2020-12-28')
display(tickers_df.head())
display(tickers_df.tail())

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-11-30 00:00:00+00:00,102.549489,43.337864,1109.65,107.221572,336.967044,66.148444,8.634883
2018-12-31 00:00:00+00:00,93.802208,38.280404,1044.96,98.209893,313.392179,56.737892,7.019857
2019-01-31 00:00:00+00:00,110.925423,40.391724,1125.89,100.975279,374.729587,60.973056,8.214196
2019-02-28 00:00:00+00:00,115.330612,42.200114,1126.55,108.788898,429.703388,66.486238,8.186193
2019-03-29 00:00:00+00:00,117.810392,46.294610,1176.89,114.527918,372.528108,67.975300,8.195528

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2020-08-31 00:00:00+00:00,110.633391,128.028546,1629.53,223.064604,171.82,36.743215,6.785310
2020-09-30 00:00:00+00:00,109.161988,114.902247,1465.60,208.030764,165.26,31.582238,6.626124
2020-10-30 00:00:00+00:00,100.181044,108.006723,1616.11,200.256686,144.39,30.009106,7.690682
2020-11-30 00:00:00+00:00,112.385375,118.320861,1754.40,212.291604,210.71,35.906029,9.033815
2020-12-31 00:00:00+00:00,114.532635,131.877320,1752.64,220.572236,214.06,38.815802,8.745290

In [327]:
import numpy as np
np.savetxt('monthlyeturns.csv',tickers_df,delimiter=',')

In [334]:
returns_24= tickers_df.pct_change()
returns_24

,IBM,AAPL,GOOGL,MSFT,BA,XOM,F
2018-11-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-12-31 00:00:00+00:00,-0.085298,-0.116698,-0.058298,-0.084047,-0.069962,-0.142264,-0.187035
2019-01-31 00:00:00+00:00,0.182546,0.055154,0.077448,0.028158,0.195721,0.074644,0.170137
2019-02-28 00:00:00+00:00,0.039713,0.044771,0.000586,0.077382,0.146703,0.090420,-0.003409
2019-03-29 00:00:00+00:00,0.021501,0.097026,0.044685,0.052754,-0.133058,0.022397,0.001140
2019-04-30 00:00:00+00:00,-0.005882,0.056436,0.018753,0.107343,-0.009779,-0.006436,0.208998
2019-05-31 00:00:00+00:00,-0.083838,-0.124166,-0.077117,-0.049529,-0.090279,-0.108443,-0.088995
2019-06-28 00:00:00+00:00,0.085912,0.130519,-0.021419,0.083118,0.065572,0.082803,0.074580
2019-07-31 00:00:00+00:00,0.074982,0.076395,0.125046,0.017244,-0.062718,-0.029623,-0.054480
2019-08-30 00:00:00+00:00,-0.075168,-0.016430,-0.022714,0.015141,0.073669,-0.067568,-0.037775
2019-09-30 00:00:00+00:00,0.072973,0.072962,0.025711,0.008487,0.044989,0.031104,-0.001091
2019-10-31 00:00:00+00:00,-0.080388,0.110684,0.030840,0.031216,-0.106605,-0.043053,-0.046649
2019-11-29 00:00:00+00:00,0.017213,0.077517,0.035979,0.059469,0.083481,0.020683,0.054715
2019-12-31 00:00:00+00:00,-0.003049,0.098784,0.027069,0.041749,-0.110383,0.024218,0.026490
2020-01-31 00:00:00+00:00,0.072292,0.054010,0.069726,0.079455,-0.022992,-0.109774,-0.035557
2020-02-28 00:00:00+00:00,-0.084921,-0.114673,-0.065279,-0.045696,-0.130427,-0.159910,-0.210884
2020-03-31 00:00:00+00:00,-0.147676,-0.069761,-0.132388,-0.026542,-0.457890,-0.261858,-0.306034
2020-04-30 00:00:00+00:00,0.131885,0.155374,0.159000,0.136326,-0.054445,0.223861,0.053830
2020-05-29 00:00:00+00:00,0.008118,0.085026,0.064469,0.025352,0.034250,-0.002225,0.121807
2020-06-30 00:00:00+00:00,-0.033066,0.147386,-0.010792,0.110559,0.256771,-0.016494,0.064799
2020-07-31 00:00:00+00:00,0.017968,0.165132,0.049293,0.007371,-0.138025,-0.059034,0.087171
2020-08-31 00:00:00+00:00,0.016093,0.216620,0.095151,0.102768,0.087468,-0.032127,0.031770
2020-09-30 00:00:00+00:00,-0.013300,-0.102526,-0.100600,-0.067397,-0.038179,-0.140461,-0.023460
2020-10-30 00:00:00+00:00,-0.082272,-0.060012,0.102695,-0.037370,-0.126286,-0.049811,0.160661
2020-11-30 00:00:00+00:00,0.121823,0.095495,0.085570,0.060097,0.459312,0.196504,0.174644
2020-12-31 00:00:00+00:00,0.019106,0.114574,-0.001003,0.039006,0.015899,0.081039,-0.031938

In [335]:
import numpy as np
np.savetxt('month.csv',returns_24,delimiter=',')